.bi-person {
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.bi-chevron-left,
.bi-chevron-right {
  font-size: 20px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.product-pages {
  padding: 8px 15px;
}
